body {
  background-color: black;
  font-size: 16pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
#wrapper {
  max-width: 600px;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  margin-top: 100px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}

#header {
  margin: -10px;
  margin-top: -110px;
  height: 100px;
  background: url("haxxr.png") no-repeat;
  margin-bottom: 10px;
}

#logininfo {
  font-size: 14pt;
  color: white;
  float: right;
  padding-top: 30px;
}

#logininfo a {
  color: white;
}

#alertbox {
  background-color: #fdd;
  max-height: 200px;
  overflow: scroll;
}
#alertbox:not(:empty) {
  padding: 5px;
  border: 1px solid red;
}
#alertbox:not(:empty):before {
  display: block;
  content: "Alert output: ";
  font-weight: bold;
}

#tweetwrap textarea {
  margin-top: 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 80px;
  font-size: 14px;
  margin-right: 0;
}

#tweetwrap input {
  float: right;
  border: 1px solid #ccc;
  background: white;
  font-size: 16px;
  padding: 5px;
}
.tweet {
  margin-bottom: 10px;
}
.tweet .tweeter {
  font-weight: bold;
  padding-right: 10px;
}
.tweet img {
  width: 60px;
  float: left;
}
.tweetright {
  margin-left: 70px;
}
.tweetbottom {
  clear: both;
}
